mat-form-field { 
    margin: 0px 20px 5px 20px;
}

table {
    width: 100%;
}

th { 
    width: 150px; 
}

.btn {
    margin: 30px 10px 0px 0px;
    float: right;
}

h3{
    margin-left: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
