<h2 mat-dialog-title> <img style="width: 30px;margin-bottom: -9px;" [src]="data.icon_uri" /> {{data.name}}</h2>




<mat-dialog-content style="display: flex;">
  

    <span>
      <img  style="width: 140px;border-radius: 50%;" [src]="data.image_uri" />

    </span>

    <span>
      <mat-form-field appearance="standard" style="width: 100px;" >
        <mat-label>Birthday</mat-label>
        <input matInput placeholder="Birthday" [value]="data.birthday" [readonly]="true">
      </mat-form-field>
      <mat-form-field appearance="standard" style="width: 100px;">
        <mat-label>Hobby</mat-label>
        <input matInput placeholder="Hobby" [value]="data.hobby"  [readonly]="true">
      </mat-form-field>
      <mat-form-field appearance="standard" style="width: 100px;">
      <mat-label>Personality</mat-label>
        <input matInput placeholder="Personality" [value]="data.personality" [readonly]="true">
      </mat-form-field>
      <br>
      <mat-form-field appearance="standard" style="width: 380px;">
        <mat-label>Saying</mat-label>
        <input matInput placeholder="Saying" [value]="data.saying" [readonly]="true">
      </mat-form-field>

    </span>
   

</mat-dialog-content>



<mat-dialog-actions align="end">
 <!--<button mat-button mat-dialog-close>Cancel</button>-->
  <button mat-raised-button [mat-dialog-close]="true" style="background: #f3b800;color: white;" >OK</button>
</mat-dialog-actions>